<h2><%= @artist.name %></h2>

<p>
  <%= @artist.bio %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @artist.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @artist.end_date %>
</p>

<br/>